*{
    font-family: sans-serif;
    color: white;
}

ul{
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    clear: both;
    float: left;
}

ul li{
    padding: 4px;
    padding-left: 14%;
    background-color: rgb(68, 3, 47);
    border-top: 2px solid rgb(228, 87, 197);
    border-right: 1px solid rgb(228, 87, 197);
    border-left: 1px solid rgb(228, 87, 197);
    transition: all 0.2s;
    
}

ul li:last-child{
    border-bottom: 1px solid rgb(228, 87, 197);
}

ul li:hover{
    cursor:pointer;
    background-color: rgb(104, 5, 73);
    font-size: 17px;
    transform: scale(1,1);
}

ul.menu{
    clear: both;
    float: left;
    width: 100%;
    border: none;
}

ul.menu li{
    float: left;
    padding: 4%;
    border-top: 2px solid rgb(228, 87, 197);
    border-bottom: 1px solid rgb(228, 87, 197);
    border-left: 1px solid rgb(228, 87, 197);
    border-right: 1px solid rgb(228, 87, 197);
    
}

ul.menu li:last-child{
    border-right: 1px solid rgb(228, 87, 197);
}

@media screen and (max-width: 400px){
    ul.menu{
        width: 200px;
        float: none;
    }

    ul.menu li{
        float: none;
    }
}

ul.menu li:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul.menu li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}